@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Orbitron&display=swap');
/* Alteração do Box Model para border-box */
*, *::before, *::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html { 
    scroll-behavior: smooth;
    font-size: 18px;
}
body {
    font-family: "Open Sans", Verdana, sans-serif;
    background-image: url(../imagens/textura-fundo.png);
    background-attachment: fixed;
}   
/* Torna as imagens responsivas*/
img { max-width: 100%;}

/* CSS Reset*/
body, h1, h2, h3, p, figure {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;}

header, footer {
    background-color: rgba(202, 187, 209, 0.623);
    text-align: center;  }

header {
    border-bottom: solid 1px blueviolet;
    margin-bottom: 10px;}

footer { border-top: solid 1px blueviolet;}

article{
    background-color: white;
    padding: 2%;
    box-shadow:grey 1px 1px 5px;
    margin: 10px 0;}

main {
    /* Ao declarar uma largura (menor que 100%) e margem automática, centralizamos o box/bloco*/
    width: 95%;
    margin:auto;}    

h1, nav, h2, h3, button { 
    font-family: "Orbitron", sans-serif; }

    h2, h3, p { padding: 1% 0;}

   footer h2 { font-size: 1rem;}

   footer img { width: 30px;
               /* margin-left: 0.5rem;
                margin-right: 0.5rem;*/}

footer p { font-size: 0.6rem}

section, figure { margin: 2% 0; }

figcaption { 
    text-align: center;
    font-weight: bold;}
/*Usar . caso tenha declarado class*/
.inicio { 
    position: fixed; 
    /* Coordenadas */
    right: 5px;
    bottom: 0;}

.inicio a {
    background-color: blueviolet;
    padding: 5px;
    box-shadow: black 0 0 5px;
    border-radius: 5px; }

.inicio a:hover, .inicio a:focus { 
    background-color: blueviolet;
    color: white;}

/*h1 { background-color: red;}
h1 a { background-color: blue;}
nav { background-color: green;}
nav a { background-color: yellow;}*/

/* Habilitando o modo felx para os elementos*/
h1, h1 a, nav, nav a { 
    display: flex;
    justify-content: center;
    align-items: center;

}

nav a { 
    font-size: 1rem;
    font-weight: bold;
    width: 100%;
    height: 50px;
}

h1 { 
    padding: 5px 0;
    font-size: 2.2rem;
}

h1 img { width: 50px;}

nav a:hover, nav a:focus { 
    background-color: black;
    color: white;

    /* Poderia ser #nome, #email, #telefone # assunto #mensagem*/
}
 imput, textarea {
    border: solid 2px;
    font-size: 1.1rem;
    width: 100%;
    padding: 1%;
    
/*Nao recomendavel*/
    outline: none;
 }

/*textarea {riseza:none;}*/

label { font-weight: bold;}

button { 
    border: none;
    padding: 10px;
    font-weight: bold;
    background-color: black;
    color: white;
}

button:hover, button:focus {
    background-color: darkblue;
}

#maximo {font-size: 0.5rem}

/* Regras de Media Queries (breakpoint)*/

/* 1o Breakpoint 
Telas a partir de 700px */

@media screen and (min-width: 700px) {
   header div { display: flex; 
            justify-content: space-between;
            width: 95%;
            margin: auto;
        }
 /* Flex Container*/
.grupo {
        display: flex;
        justify-content:  space-between;
        flex-wrap: wrap;
   } 
 /* Itens (seções e os figures) */ 
.grupo section, .grupo figure { width: 49%;}   

}

/* 2o Breakpoint (media query):
Telas a partir de 850px*/
@media screen and (min-width:850px) {
    html { font-size: 20px}
}

/* 3o Breakpoint (media query)
Telas a partir de 1000px*/
@media screen and (min-width:1000px ) {
    html {font-size: 22px;}
    h1 img { width: auto;}
    header {position: fixed;
            width: 100%;
            top: 0;
            z-index: 1000;
    }

    /*Como o header ficou fixo, precisamos compensar a distância do restante do conteúdo 
    (os articles) usando espaçamento superior (padding-top)*/
    /*Usar # quando declarou id=*/
    #topo, #o-que-fazemos, #nossas-equipes, #contato {
        padding-top: 70px;
    }
    .inicio {display: none;}

    header div, main { 
        max-width: 1000px;
    }


}







